@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '@splidejs/splide/dist/css/splide.min.css';
/* In your CSS file or component */

@import '@fortawesome/fontawesome-free/css/all.css';


*{
  font-family: "Poppins";
  margin: 0.5rem 0.5rem;


}

:root{
  --lightBlue : #E1E0FA;
  --darkBlue: #272372;
  --textColor: #ffffff;

}
